{% extends "base.html" %}
{% load i18n %}

{% block body %}
  {% autoescape off %}
    <p>Hello!</p>
    <p>
    {% for item in mailings %}
        <div>
            ID: {{item.id}}<br>
            Datetime Start: {{item.datetime_start}}<br>
            Message: {{item.message}}<br>
            Filter Method: {{item.filter_method}}<br>
            Filter Value: {{item.filter_value}}<br>
            Datetime End: {{item.datetime_end}}<br>
            Count Messages: {{item.count_messages}}<br>
            Messages:<br>
            {% for message in item.messages %}
                ID: {{message.id}}<br>
                Datetime Created: {{message.datetime_created}}<br>
                Status: {{message.status}}<br>
                Client ID: {{message.client}}<br>
            {% endfor %}
        </div>
        <br>
    {% endfor %}
    </p>
  {% endautoescape %}
{% endblock %}
